{% extends 'Vocabulaire/base.html' %}

{% block title %}{{ subtitle }}{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
  <h2>{{ subtitle }}: Woordenlijst</h2>

  <div class="filters">
    <select name="dropdown" class="form-select mt-5 mb-4" id="parts-of-speech">
      <option value="default">Alle woordsoorten</option>
      {% for part in parts_of_speech %}
        <option value="{{ part.id }}">{{ part|capfirst }}</option>
      {% endfor %}
    </select>
    <div class="search-bar">
      <input id="search_here" class="form-control mt-5 mb-4 ml-3" placeholder="Begin het woord te typen..." />
    </div>
  </div>

  <div id="box">
    <ul>
      {% for lexeme, translations in lexemes.items %}
        <li part-of-speech="{% for part in lexeme.part_of_speech.all %}{{ part.id }}{% if not forloop.last %}-{% endif %}{% endfor %}"><a href="{% url link lexeme %}">{{ lexeme }}</a>
          <small>Vertalingen: {% for translation in translations %}<a href="{% url t_link translation %}" style="color: #00a0d0">{{ translation }}</a>{% if not forloop.last %}, {% endif %}{% empty %}geen vertalingen{% endfor %}.</small></li>
      {% empty %}
    <li>Het woordenboek is leeg.</li>
      {% endfor %}
    </ul>
    <div id="empty" style="display: none">
      Sorry, er is niks gevonden :(
    </div>
  </div>


{% endblock %}

{% block scripts %}
  <script>
    const input = document.getElementById('search_here')
    const options = document.getElementById('parts-of-speech')
    const empty = document.getElementById('empty')

    let entries = document.querySelectorAll('#box li')
    function filterEntries() {
        entries.forEach(entry => {
            let parts = entry.getAttribute('part-of-speech').split('-')
            let inputMatch = false
            entry.textContent.toLowerCase().split(' ').forEach(word => {
                if (word.startsWith(input.value.toLowerCase())) {
                    inputMatch = true;
                }
            })

            if ((input.value === '' || inputMatch) &&
            (options.value === "default" || parts.includes(options.value))) {
                entry.style.display = 'list-item';
            } else {
                entry.style.display = 'none';
            }
        })

        let visible = document.querySelectorAll('#box li[style="display: list-item;"]')
        if (visible.length === 0) {
            empty.style.display = 'block'
        } else {
            empty.style.display = 'none'
        }
    }

    options.addEventListener('click', filterEntries)
    input.addEventListener('keyup', filterEntries)
  </script>
{%  endblock %}
